#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

bin/
mp4cache/
Shaders/
.DS_Store?
._*
*.old
.Spotlight-V100
.Trashes
Thumbs.db
LilStorage
*.rar
